body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

main {
  padding: 1rem;
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-bottom: 30px;
}

.project {
  border: 1px solid #ccc;
  padding: 1rem;
  cursor: pointer;
}

#project-details {
  background-color: #333;
  color: #fff;
  margin: auto;
  width: 300px;
  padding: 10px;
}

#project-details.hidden {
  display: none;
}
img {
  height: 250px;
  width: 300px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 30%;
  padding-right: 30%;
}

label {
  flex: 1 1 100%;
}

input,
textarea {
  flex: 1 1 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
}

button {
  flex: 1 1 100%;
  padding: 0.5rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0f3b00;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
